html{
  height: 100vh;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 500px;
  background: url("https://cdn.allwallpaper.in/wallpapers/1920x1199/6836/binary-tunnel-1920x1199-wallpaper.jpg");
  }

.show {
  height: 23%;
  width: 16%;
  border: 2px black solid;
}
section{
  height: 80%;
  width: 80%;
}
#containClock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
#containClock::after{
  content: "";
  display: block;
  padding-bottom: 100%;
}

p{
  color: #ccff33;
}
.hours{
  height: 23%;
  width: 16%;
  border: 2px transparent solid;
}
